@import '../../styles';

.link {
  margin-block: 24px;

  @include typographySmallText;

  display: flex;
  width: 66px;
  height: 16px;
  gap: 4px;
  flex-shrink: 0;

  color: $secondary-color;
  @include hover(color, $primary-color);

  @include onTablet {
    margin: 40px 0 16px;
  }
}