@import './../../styles';

$card-width: 208px;

.card {
  display: flex;
  flex-direction: column;
  width: $card-width;
  height: 442px;
  padding: 31px;
  background-color: $gray-white;
  border: 1px solid $elements-color;
  transition: transform 0.5s ease;

  &:hover {
    border-color: rgba(0, 0, 0, 0.2);
  }

  &:hover img {
    transform: scale(1.1);
  }

  &__image_wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    width: $card-width;
    height: 196px;
    margin-bottom: 24px;
  }

  &__product_image {
    transition: transform 0.5s ease;
    height: 190px;
  }

  &__product_name {
    @include typographyBodyText;
    color: $primary-color;
    height: 42px;
    margin-bottom: 8px;
  }

  &__price {
    @include typographyPrice;
    color: $primary-color;

    &::before {
      content: '$';
    }
  }

  &__old_price {
    @include typographyPriceOld;
    color: $secondary-color;
    margin-left: 8px;

    &::before {
      content: '$';
    }
  }

  &__price_wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
  }

  &__break_line {
    border: 1px solid $elements-color;
    width: $card-width;
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: $card-width;
    height: 76px;
    margin-bottom: 8px;
  }

  &__option_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__option {
    @include typographySmallText;
    color: $secondary-color;
  }

  &__option_value {
    @include typographySmallText;
    color: $primary-color;
  }

  &__buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $card-width;
  }
}