@import './../../styles';

.title {
  @include typographyH1;
}

.wrapper {
  position: relative;

  margin-top: 32px;
  @include pageGrid;
}

.cartItemList {
  display: grid;
  gap: 16px;
  grid-column: span 4;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: span 16;
  }
}

.totalPrice {
  position: relative;
  display: flex;
  grid-column: span 4;
  padding: 24px;
  flex-direction: column;
  align-items: center;

  border: 1px solid $elements-color;
  height: fit-content;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: 17/24;
  }

  &TextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    &Value {
      @include typographyH2;
      color: $primary-color;
    }

    &Info {
      position: relative;

      @include typographyBodyText;
      color: $secondary-color;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $elements-color;

      margin-top: 16px;
    }
  }
}

.emptyTitle {
  @include typographyH3;
}

.loader {
  box-sizing: border-box;
  position: absolute;
  bottom: 28px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0.3em solid #ddd;
  border-left-color: #000;
  animation: loader 0.5s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
