
@import './../../styles';

.breadcrumbs {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;

  @media (min-width: 640px) {
    margin-bottom: 40px;
  }

  &__home_link {
    display: block;
  }

  &__location_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    &:last-child {
      pointer-events: none;
    }
  }

  &--location-page-name {
    color: $secondary-color;
    @include typographySmallText;
    @include hover(color, $primary-color);
  }
}
