@import '../../styles';
.rights {
  padding-top: 25px;
  display: grid;
  justify-items: start;
  justify-content: center;
  text-align: justify;

  &__label {
    @include typographyBodyText;
    color: $primary-color;
    margin-bottom: 5px;
    max-width: 640px;
  }
  &__rules {
    @include typographyBodyText;
    color: $secondary-color;
    max-width: 640px;
  }
}